:root {
    --cor-fundo: #F7F2E8;
    --preto: #1A1A1A;
    --vermelho-escuro: #3C0E0E;
}  

@media screen and (max-width: 730px) {
    
    header {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .menu{
        .nav-1, .nav-2{
            display: none;
        }
    }
    
    .mobile-menu {
        display: block;
        width: 100%;
        height: auto;   
        align-items: center;
        margin-left: -25px;
    }

    .hamburguer-img{
        display: block;
    }

    .logo{
        width: 120px;
        height: auto;
    }   

    body{
        margin-left: 10px;
        margin-right: 10px;
        background-color: var(--cor-fundo);
    }   
    
    .text-container h1{
        font-size: 2rem;            
    }

    .text-container{
        font-weight: 500;
    }

    .cards {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;      
        align-items: center;   
    }

    .card{
        padding-top: 1.5rem;
    }

    .croissants{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 12rem;
    }

    .cf-text{
        text-align: center;
        margin-right: 0;
    }

    .cp-img img{
        display: none;
    }

    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        padding-top: 3rem;
        padding-bottom: 2rem;   
        padding-left: 6%;    
        padding-right: 6%;
    }

    .about-text-1{
        padding-right: 20px;
        align-items: left;
        width: 100%;
    }

    .about-text-1 h1{
        font-size: 2rem;
        font-weight: bold;
        line-height: 1;
    }

    .about-text-1 h2{
        font-size: 1.25rem;
        font-weight: 500;        
    }

    .about-text-2 {       
        padding-top: 1rem;    
    }

    .about-text-2 h3{
        font-size: 1rem;
        font-weight: 800;
    }

    .about-text-2 p{
        font-weight: 500;
    }

    .enjoy {
        flex-direction: column; 
        height: auto; 
        padding-top: 1rem;
    }

    .booking,
    .where {
        width: 100%; 
        height: 50vh;
        position: static;
    }

    .booking{
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 0px;
    }

    .where{       
        border-top-right-radius: 0px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }

    .booking img{
        width: 50%;
        height: auto;
    }

    .hr{  
        padding-top: 1rem;
    }

    .footer{        
        display: flex;
        flex-direction: column;   
        padding-top: 0.5rem; 
        padding-bottom: 1rem;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 10px;
        margin-right: 10px;        
    }    

    
}